.App {
  & > article {
    overflow-y: hidden;

    display: flex;
    flex-direction: column;

    & > *:first-child {
      flex: 1 1 auto;
      overflow-y: scroll;
    }

    & > *:last-child {
      flex: 0 0 auto;

      background-color: hsl(0, 0%, 90%);
      border-top: solid 1px hsl(0, 0, 85%);
    }
  }
}

$SUNDAY: hsl(0deg, 100%, 95%);
$SATURDAY: hsl(210deg, 100%, 95%);
$ACTIVE: hsl(60deg, 100%, 90%);

table.monthly-logs {
  border-collapse: collapse;
  width: 100%;

  height: 100%;
  display: flex;
  flex-direction: column;

  & > thead {
    flex: 0 0 auto;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    border-bottom: solid 1px hsl(0, 0, 85%);
  }

  & > tbody {
    flex: 1 1 auto;
    width: 100%;
    overflow-y: scroll;
  }

  tr {

    display: flex;
    flex-direction: row;
    & > th,
    & > td {
      flex: 1;
    }

    &.future {
      background-color: scale-color($color: hsl(0deg, 0%, 100%), $saturation: -20%, $lightness: -5%);
    }
    th,
    td {
      box-sizing: border-box;
      border-collapse: collapse;
      border-style: solid;
      border-color: hsl(0, 0%, 90%);
      border-width: 0;
      padding: 0.5em 0;
      line-height: 1em;
      &:first-child {
        padding-left: 0.5rem;
      }
      &:last-child {
        padding-right: 0.5rem;
      }
    }
    td {
      color: hsl(0deg, 0%, 50%);
      border-bottom-width: 1px;
    }
  }

  tr.holiday,
  tr.sunday {
    background-color: $SUNDAY;
    &.future {
      background-color: scale-color($color: $SUNDAY, $saturation: -20%, $lightness: -5%);
    }
    td {
      color: scale-color($color: $SUNDAY, $saturation: -20%, $lightness: -10%);
    }
    &.active {
      background-color: mix($SUNDAY, $ACTIVE);
      td {
        color: scale-color($color: mix($SUNDAY, $ACTIVE), $saturation: -20%, $lightness: -10%);
      }
    }
  }

  tr.saturday {
    background-color: $SATURDAY;
    &.future {
      background-color: scale-color($color: $SATURDAY, $saturation: -20%, $lightness: -5%);
    }
    td {
      color: scale-color($color: $SATURDAY, $saturation: -20%, $lightness: -10%);
    }
    &.active {
      background-color: mix($SATURDAY, $ACTIVE);
      td {
        color: scale-color($color: mix($SATURDAY, $ACTIVE), $saturation: -20%, $lightness: -10%);
      }
    }
  }

  tr.active {
    background-color: $ACTIVE;
    td {
      color: mix(hsl(0deg, 0%, 0%), $ACTIVE, 90%);
    }
  }
}
td.date {
  text-align: right;
}
td.time {
  text-align: right;
}
