.LogEditor {
  & > .heading {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0.5em 0 0.5em;
    & > h2 {
      margin: 0;
      font-size: 1em;
      flex: 1 1 auto;
      justify-content: flex-start;
      // display: inline;
    }
    & > a {
      color: inherit;
      flex: 0 0 auto;
      justify-content: flex-end;
    }
  }
  .form-group {
    display: flex;
    flex-direction: row;
    label {
      flex: 1;
      margin: 0.5em;
      font-weight: bold;
      font-size: 0.8em;
      input,
      select {
        width: 100%;
        font-weight: normal;
        font-size: 1rem;
        font-family: inherit;
        padding: 0;
        // border: 0;
        border: 1px solid hsl(0, 0%, 75%);
        background-color: hsl(0, 0%, 95%);
      }
      select {
        height: 32px;
        &:disabled {
          background-color: hsl(0, 0%, 95%);
          color: hsl(0, 0%, 75%);
          border: 1px solid hsl(0, 0%, 90%);
        }
      }
      input {
        height: 30px;
        &:read-only,
        &:disabled {
          background-color: hsl(0, 0%, 95%);
          color: hsl(0, 0%, 75%);
          border: 1px solid hsl(0, 0%, 90%);
        }
      }
    }
  }
}
